<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">

            <li id="LiDashBoard" (click)="OnSelected_Menu('LiDashBoard', 'Null')">
                <a class="nav-link" href="#" >
                    <i class="fa fa-dashboard"></i><span>DashBoard</span>
                </a>
            </li>

            <li class="treeview" id="LiProducts" (click)="OnSelected_Menu('LiProducts', 'Null')">
                <a href="#">
                    <i class="fa fa-beer" ></i><span>Products</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="LiProductsList" (click)="OnSelected_Menu('LiProducts', 'LiProductsList')">
                        <a class="nav-link" [routerLink]="['/products']">
                            <i class="fa fa-circle-o"></i>List
                        </a>
                    </li>

                    <li id="LiProductsAddEdit" (click)="OnSelected_Menu('LiProducts', 'LiProductsAddEdit')">
                        <a class="nav-link" [routerLink]="['/products',0,'addedit']" >
                            <i class="fa fa-circle-o"></i>Add-Edit
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>